#root {
  max-width: 1280px;
  padding: 1rem;
  text-align: center;
  border: 2px solid #333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 10px auto;

}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.last-minute {
  color: red;
}


.setting {
  margin: 10px;
  display: block;
  border: 1px solid #333;

}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

button {
  font-size: 1.2rem;
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #efefef;
  color: #333;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

#timer {
  margin-bottom: 20px;
}

#timer-label {
  font-size: 1.5rem;
  margin-bottom: 10px;

}

#time-left {
  font-size: 3rem;
  font-weight: bold;
}


#controls button {
  margin: 0 5px;
}

#controls button:first-child {
  margin-left: 0;
}

#controls button:last-child {
  margin-right: 0;
}